<div class="header">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="#"> <i class="fa fa-star-o"></i> Dashboards</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Default</li>
    </ol>
  </nav>
  
  <div class="right-side">
    <div class="search-container">
      <i class="fa fa-search" aria-hidden="true"></i>
      <input type="text" placeholder="Search..." />
    </div>
    
    <div class="icons-container">
      <i class="fa fa-history" aria-hidden="true"></i>
      <i class="fa fa-bell-o" aria-hidden="true"></i>
      <i class="fa fa-window-maximize" aria-hidden="true"></i>
    </div>
  </div>

</div>
